<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ef0e0e;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #722ee9;
}
</style>
</head>
<body>